/* header_성진영(시작) */
header{
  background:#fff;
    height: 210px;
    position: fixed;
    left:0; right: 0; top: 0;
    z-index: 100;
    overflow: hidden;
    transition: .5s;
}
header .fw{
  font-weight:normal;
}
header .top_menu{
  position: relative;
  height: 150px;
  /* padding-top: 30px;  */
  box-sizing: border-box;
}
.sticky .top_menu{
  overflow: hidden;
  height: 0;
  transition: .5s;
}
header .top_menu h1{
  float: left;
  position: absolute;
  left: 50%;
  top:30px;
  transform: translateX(-50%);
}
header .left{
  float: left;
}
header .left ul li{
  float: left;
  margin: 30px 30px 0 0;
}
header .right.icon_L{
  float: right;
}
header .right.icon_L ul li{
  float: right;
  margin: 30px 0 0 30px;
}
header .top_menu h1 a{
  width: 90px;
  height: 90px;
  background: url(../img/header_h1_Logo.png)no-repeat;
  text-indent: -1000em;
  display: block;
  margin: 0 auto;
}
header .bottom_menu{
  width: 100%;
  background:linear-gradient( #fff 60px,rgba(255,255,255,.9) 60px); 
  height: 60px;
  position: absolute;
  transition: .5s;
}
header .bottom_menu .bottom_list{
  height: 61px;
  border-bottom: 1px #006f40 solid;
}
header .bottom_menu.sticky{
  position: fixed;
  top:0;
}
header .bottom_menu .menu_list li{
  width: 20%;
  float: left;
  position: relative;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}
header .bottom_menu .menu_list li a{
  display: inline-block;
}
header .bottom_menu dt:last-child{
  margin-bottom: 40px;
}
header .bottom_menu .menu_list li dl{
  position: absolute;
  padding-top: 30px;
  width: 100%;
  text-align: left;
  padding-left: 100px;
}
header .bottom_menu dt a:hover{
  color: #006f40;
}

body{
  padding-top: 210px;
}
body.sticky header{
  height: 60px;
}
/* header_성진영(종료) */