.sec2 h2{
  text-align: center;
  color: #1c1c1c;
}

.slide_wrap{
  position: relative;
  width: 1140px;
  height: 460px;
  margin: 0 auto;
  overflow: hidden;
}

.slides{
  width: 100%;
  transition: left 1s ease-in;
  margin: 0 auto;
  position: absolute;
}
.slides li {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
}
.slides li .sec2img{
  width: 360px;
  overflow: hidden;
}
.slides li .sec2img:hover .sce2_table{
  transition: .3s ;
  opacity: 1;
}

.slides .sce2_table{
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  padding: 210px 0 0 40px;
  color: #fff;
  width: 360px;height: 360px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
}


.sce2_table th, td{padding: 0 10px;}
.sce2_table{width: 100%;}

.sec2img{
  width: 360px;
  height: 360px;
}
.icetext{
  width: 350px;
  position: absolute;
  margin: 30px 0 0 10px;
  color: #505050;
}
.icetext h3{font-weight: bold;}
.icetext p{font-size: 14px;line-height:14px;}

.slides .ice{
width: 360px;
height: 360px;
position: absolute;
color: #fff;
box-sizing: border-box;
background-repeat: no-repeat;
}

/* sec2controls */

.sec2prev, .sec2next{
  font-size: 48px;
  color: #505050;
  box-sizing: border-box;
  top:calc(50% - 70px)
}

.sec2 .sec2prev{
  position: absolute;
  left:0;
  }
.sec2 .sec2next{
  position: absolute;
  right:0;
  }
